<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Integration</exclude> 
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <!-- Define default environment variables for tests if needed -->
        <!-- <env name="MULTIVERSX_NETWORK" value="devnet"/> -->
        <!-- <env name="MULTIVERSX_API_URL" value="https://devnet-api.multiversx.com"/> -->
    </php>
</phpunit> 